<section class="text-gray-600 body-font">
  <div class="container px-5 py-8 mx-auto">
    <%= render "shared/error_messages_second", model: @error if @error != nil %>
    <% if @subs.empty? %>
      <div class="my-2 text-lg">ようこそ、<%= @user.nickname %>さん！</div>
      <div class="text-lg">
        まずは、
        <%= link_to 'サブスクを登録', new_user_subscription_path(@user), class: "text-white bg-black border-0 mt-2 py-2 px-4 focus:outline-none hover:bg-gray-200 hover:text-black rounded text-base" %>
        をしてみよう！
      </div>
    <% else %>
      <%= link_to 'サブスク登録', new_user_subscription_path(@user), class: "block w-32 text-white bg-black border-0 my-4 py-3 px-4 focus:outline-none hover:bg-gray-200 hover:text-black rounded text-base" %>
      <%= link_to '振り返る', all_index_user_reviews_path(@user), class: "block w-32 text-white bg-black border-0 my-4 py-3 px-4 focus:outline-none hover:bg-gray-200 hover:text-black rounded text-base" %>
      
      <a href=<%= new_user_subscription_path(@user)%>>
        <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-purple-100 text-purple-500 mb-5 flex-shrink-0">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
          </svg>
        </div>
      </a>

      <a href=<%= all_index_user_reviews_path(@user) %>>
        <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-purple-100 text-purple-500 mb-5 flex-shrink-0">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
          </svg>
        </div>
      </a>

      <div class="flex flex-col text-center w-full mb-4">
        <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">登録中のサブスク一覧</h1>
      </div>
      <div class="lg:w-2/3 w-full mx-auto overflow-auto">
        <table class="table-auto w-full text-left whitespace-no-wrap border-b-2">
          <thead>
            <tr>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">Name</th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Tatal Period</th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Tatal Amount</th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Next Update</th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Edit Link</th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Delete Link</th>
            </tr>
          </thead>
          <tbody>
            <% @subs.zip(@renewal) do |subs, renew| %>
            <tr>
              <td class="px-4 py-3 border-b-2">
                  <%= link_to subs.name, user_subscription_path(@user, subs), class: "hover:bg-gray-200" %>
              </td>
              <td class="px-4 py-3 border-b-2"><%= renew.total_period %>日</td>
              <td class="px-4 py-3 border-b-2"><%= renew.total_price %></td>
              <td class="m-sub-update-date px-4 py-3 border-b-2 text-lg text-gray-900"><%= renew.next_update_date %></td>
              <td class="hidden m-sub-update-link">
                <%= form_with url: user_subscription_contract_renewal_path(@user, subs, renew), method: :PATCH, class: "sub-update-form", local: true do |f| %>
                  <%= f.submit 'Clickで更新', class: "m-sub-update-link_tag bg-white pl-2 hover:bg-gray-200" %>
                  <span class="absolute left-2 top-2 rounded-full h-3 w-3 bg-pink-500"></span>
                  <span class="absolute left-1.5 top-1.5 animate-ping inline-flex h-4 w-4 rounded-full bg-pink-400 opacity-75"></span>
                <% end %>
              </td>
              <td class="px-4 py-3 border-b-2">
                <%= link_to '編集', edit_user_subscription_path(@user, subs), class: "block text-white text-center bg-black border-0 focus:outline-none hover:bg-gray-200 hover:text-black w-16 py-2 px-3 rounded" %>
              </td>
              <td class="px-4 py-3 border-b-2">
                <%= form_with url: user_subscription_path(@user, subs), method: :delete, class: "sub-delete-form", local: true do |f| %>
                  <%= f.submit '削除', class: "delete_btn block text-white text-center bg-black border-0 focus:outline-none hover:bg-gray-200 hover:text-black w-16 py-2 px-3 rounded" %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</section>