<header class="hf_bg text-black body-font bg-white" id="header">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <div class="flex flex-col justify-center title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <div>
        <%= link_to 'Look Back', root_path, class: "text-2xl text-black font-bold" %>
      </div>
      <div class="text-xs">振り返る サブスク管理</div>
    </div>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <% if user_signed_in? %>
        <span class="mr-5 text-black flex">
        <%=link_to 'My page', user_path(current_user), id: "my-page", class: "pr-1 font-bold hover:text-gray-600" %> <%#current_user.nicknameさん%>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
        </svg>
        </span>
        <%= link_to 'Logout' , destroy_user_session_path, method: :delete, class: "pr-1 font-bold hover:text-gray-500" %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
        </svg>
      <% else %>
        <span class="mr-5 text-black flex">
          <%= link_to 'Sign up', new_user_registration_path, class: "pr-1 font-bold hover:text-gray-500" %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z" />
          </svg>
        </span>
        <span class="mr-5 text-black flex">
          <%= link_to 'Login', new_user_session_path, class: "pr-1 font-bold hover:text-gray-500" %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1" />
          </svg>
        </span>
      <% end %>
    </nav>
  </div>
</header>