<header class="text-white body-font bg-black">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-gray-700 p-2 bg-white rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3">
        <%= link_to 'Look Back', root_path, class: "text-xl text-white" %>
      </span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <% if user_signed_in? %>
        <span class="mr-5 text-white">
          <%=link_to current_user.nickname, user_path(current_user), class: "font-bold" %>さん
        </span>
        <%= link_to 'ログアウト' , destroy_user_session_path, method: :delete, class: "hover:bg-gray-200 hover:text-black w-22 py-2 px-2 rounded mr-5" %>
      <% else %>
        <%= link_to '新規登録', new_user_registration_path, class: "hover:bg-gray-200 hover:text-black w-22 py-2 px-2 rounded mr-5" %>
        <%= link_to 'ログイン', new_user_session_path, class: "hover:bg-gray-200 hover:text-black w-22 py-2 px-2 rounded mr-5" %>
      <% end %>
    </nav>
  </div>
</header>