<section class="text-gray-600 body-font relative">
  <%= form_with model: [@user, @subs], class:"container px-5 py-12 mx-auto", local: true do |f| %>
    <%= render "shared/error_messages", model: f.object %>
    <div class="flex flex-col text-center w-full mb-8">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">サブスク登録</h1>
    </div>
    <div class="lg:w-1/2 md:w-2/3 mx-auto">
      <div class="flex-wrap -m-2">

        <div class="p-2 w-50">
          <div class="relative">
            <label for="name" class="leading-7 text-sm text-gray-600">サブスク名</label>
            <%= f.text_field :name, id:"name", placeholder:"〜10文字" ,maxlength:"10", class: "w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" %>
          </div>
        </div>

        <div class="p-2 w-50">
          <div class="relative">
            <label for="price" class="leading-7 text-sm text-gray-600">価格</label>
            <%= f.number_field :price, class:"", id:"price", placeholder:"数字のみ", class: "w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" %>
          </div>
        </div>

        <div class="p-2 w-50">
          <div class="relative">
            <label for="contract_data" class=" text-gray-600">契約開始日</label>
            <%= f.date_field :contract_date, id:"contract_date", placeholder:"", class: "w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 resize-none transition-colors ease-in-out" %>
          </div>
        </div>

        <div class="p-2 w-50">
          <div class="relative">
            <label for="update_cycle" class="block text-gray-600">更新サイクル</label>
            <%= f.number_field :update_cycle, id:"update_cycle", placeholder:"数値のみ", class:"w-2/6 bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out" %>
            <%= f.collection_radio_buttons(:update_type_id, UpdateType.all, :id, :name, {}, {class:"mr-px ml-2", id:"update_type_id"}) %> 
          </div>
        </div>

        <div class="p-2 w-50">
          <%= f.submit "登録する" ,class:"flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" %>
        </div>
      </div>
    </div>
  <% end %>
</section>